h1, h2, h3, ul, li, p, figure{
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body.brief-style {
    font-family: "Poppins";
    color:black;
    background-color: #e0d0bf;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100vh;
    padding: 0 20vw;
}

.brief-style header {
    position: fixed;
    top: 0;
    max-width: 900px;
    width: 65vw;
    height: auto;
    padding: 1.5% 0% 1.5% 2%;
    border-bottom: solid black 1px;
    z-index: 1;
    background-color: #e0d0bf;
    font-size: 1.5em;
}

.brief-style h1 {
    font-size: 150%;
}

.brief-style main {
    display: flex;
    margin-top: 10vh;
    max-width: 900px;
    width: 65vw;
    line-height: 1.45em;
}

.brief-style article {
    display: block;
    padding: 5%;
    overflow: hidden;
    max-width: 500px;
}

.brief-style h2 {
    font-size: 1.5em;
    margin-bottom: 0.3em
}

.brief-style h3 {
    font-size: 1.2em;
    margin-bottom: 0.3em;
}

.content {
    margin-top: 2em;
}

.brief-style p {
    font-size: 1em;
    margin-bottom: 0.75em;
    font-weight: 300;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: background-color 0.2s ease-in-out;
}

.content p a {
    font-weight: 400;
    border-radius: 5px;
    padding: 0% 1%;
    margin-left: -1%;
}

.content a:hover {
    font-weight: 600;
    background-color: #b9ac9d;
}

a:not(.current-post):hover .post {
    border-left: solid rgb(0, 0, 0) 2px;
    margin-left: -5px
}

.date {
    font-weight: 400;
    margin-bottom: 0;

}

.blog-posts {
    padding-top: 5%;
    margin-right: 1%;
}

.post {
    border-left:  solid black 1px;
    margin-bottom: 15%;
    padding: 3% 5%;
    align-self: flex-end;
    width: 175px;
    display: none;
    transition: all 0.2s ease-in-out;
}

.post h2 {
    font-size: 1.3em;
    margin-bottom: 0.2em
}

.post h3 {
    font-size: 1em;
    margin-bottom: 0.2em
}

.post .date {
    margin-bottom: 0em;
}

@media only screen and (min-width: 900px) {
    .brief-style header {
        font-size: 2em;
        padding: 1.5% 0% 1.5% 2%;
    }

    .brief-style main {
        margin-top: 13vh;
    }

    .brief-style h1 {
        font-size: 1.8em;  
    }

    .brief-style h2 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }
    
    .brief-style h3 {
        font-size: 1.5em;
        margin-bottom: 0.2em;
    }
    
    .brief-style p {
        font-size: 1.3em;
    }
    
    .date {
        font-size: 1em;
    }
    
    .content p {
        margin-top: 1em;
        font-weight: 300;
    }

    .blog-posts {
        justify-content: flex-end;
    }
    .post {
        display: flex;
        flex-flow: column nowrap;
    }
    
}

@media only screen and (max-width: 460px) {
    .brief-style header {
        font-size: 1.2em;
        padding: 1.5% 0% 1.5% 0%;
    }
    .brief-style main {
        margin-top: 10vh;
    }
}

/* Styling for usertest.html */
* {
    box-sizing: border-box;
}

h1, h2, p, ol, li{
    margin: 0;
}

body {
    background-color: #2E5331;
    font-family: "Baskerville";
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 750px;
    overflow: scroll;
}

main {
    display: flex;
    width: 65vw;
    max-width: 850px;
    height: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
    background-color: #F2EEE9;
    padding: 3% 7%;
}

header {
    flex-direction: column;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0.25em 0em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

/* h3 {
    font-size: 1.5em;
} */

ol, li, p {
    font-size: 1.2em;
}

.user-test p {
    color:rgb(67, 67, 67);
}

.user-test span {
    color: black;
}
li>p {
    font-size: 1em;
    line-height: 1.3em;
    margin: 0.25em 0em;

}



.user-test main section {
    height: 70vh;
    background-color: #F2EEE9;
    display: flex;
    color: black;
}


.user-test article {
    background-color: #F2EEE9;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#user-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.user-test img {
    height: 150px;
}



.hidden {
    visibility: hidden;
    opacity: 0;
    z-index: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
