h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-weight: 400;
    background: linear-gradient(0deg, rgba(100,129,173,1) 0%, rgba(29,40,57,1) 100%);
}

main {
    width: 100vw;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100vw;
    background-color: #282828;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
}

/* input page styling */

/* class for switching from input page to output page */
.input {
    max-width: 900px;
    padding: 2.5% 12% 5% 12%;
    background-color: #eaeaea;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
    font-size: 1em;
}

input, select {
    margin-bottom: 4px;
    height: 35px;
    width: 50%;
    min-width: 225px;
    max-width: 300px;
    border-radius: 5px;
    border: solid 1px rgb(124, 124, 124);
    background-color: #eaeaea00;
    transition: border 0.5s;
    box-sizing: border-box;   
}

input:focus, select:focus {
    outline: 0;
    border: 3px solid #000;
}

input[type="submit"] {
    align-self: flex-end;
    height: 40px;
    width: 175px;
    padding: 5px 10px;
    border: 1px;
    border-radius: 100px;
    font-weight: 700;
    background-color: #2DCA61;
    color: black;
}

input[type="submit"]:hover {
    transform: scale(1.01);
}

#input-page {
    display: flex;
    flex-direction: column;
}

#line {
    width: 100%;
    margin: 5% 0%;
    border-bottom: solid 1px #28282838;
}

#animation {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    top: 20%;
    width: 250px;
}

#vinyl {
    margin-bottom: 10%;
}

#animation.load #vinyl{
    animation: play 8s cubic-bezier(1,0,.5,0.5);
}


#animation.load #code {
    animation: load 5s forwards cubic-bezier(1,0,.5,.5);
    /* animation: load 6s forwards ease-out; */
}

#vinyl:hover {
    animation: spin 0.5s alternate ease-in-out infinite;
}

/* #spotify-code:hover #code {
    animation: load 4s forwards ease-out;
} */

#spotify-code {
    width: 210px;
    height: 50px;
    overflow: hidden;
}

#code, #code-loaded {
    position: absolute;
    width: 210px;
}

#code {
    object-fit: cover;
}

/* Output page styling */
/* class for switching from input page to output page */
.output {
    background-color: #000;
}

nav {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 35vw;
}

nav a {
    margin: 10%;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 700;
    color:rgba(255, 255, 255, 0.6);
}

nav img {
    margin-top: auto;
    align-self: flex-end;
    width: inherit;
    height: inherit;
    object-fit: contain;
}


#output-page {
    display: none; /* Output page is automatically hidden */
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 100px);
}

#lyrics {
    padding: 3% 15% 3% 8%;
    width: 100vw;
    height: 100%;
    max-height: 700px;
    overflow: scroll;
    font-size: 1.4em;
    font-weight: 700;
    background-color: #3D6675;
    color: rgba(255, 255, 255, 0.6);
}

#lyrics p {
    line-height: 1.5em;
}

#lyrics p span, #song-title {
    color: rgba(255, 255, 255, 1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35%;
}

#credits {
    position: absolute;
    left: 2%;
}

#artist {
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.6);
}

#controls {
    align-self: center;
}

@keyframes load {
    0% { 
        width: 210px; 
        transform: translateX(0); 
        object-position: 0px 0px;
    }
    100% { 
        width: 0px; 
        transform: translateX(210px); 
        object-position: -210px 0px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(60deg) }
}

@keyframes play {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(5400deg) }
}

@media only screen and (min-width: 900px) {
    main.input {
        width: 70vw;
        padding: 2.5% 8%;
    }

    h1 {
        font-size: 4em;
    }

    nav {
        width: 300px;
    }

    #lyrics {
        padding: 3% 15% 3% 10%;
        font-size: 1.6rem;
    }

    #lyrics p {
        max-width: 400px;
    }

    #animation {
        position: absolute;
        align-self: flex-end;
    }

    #vinyl img {
        width: 200px;
        height: 200px;
    }
}

/* mobile */
@media only screen and (max-width: 675px) {
    h1 {
        font-size: 4em;
    }

    #animation {
        display: none;
    }

    /* Output mobile view  */
    nav {
        width: 100vw;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav a {
        display: none;
    }

    nav img {
        width: 70vw;
        height: 70vw;
        max-width: 300px;
        max-height: 300px;
        align-self: center;
        box-shadow: 0px 15px 10px 10px #3f6073d4;
        /* box-shadow: 0px 10px 30px 10px rgba(117, 83, 61, 0.7); */
        margin-bottom: 5px;
        z-index: 1;
    }

    .output {
        background: linear-gradient(0deg, rgba(61,102,117,0.31418504901960786) 0%, rgba(61,102,117,1) 100%);
    }

    #output-page {
        width: 100vw;
    }

    #content {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: #000 1px;
    }

    #lyrics {
        box-sizing: border-box;
        background:none;
        width: 60vw;
        font-size: 1.2em;
        padding: 0%;
        padding-top: 20px;
        max-width: 290px;
    }
}